.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 25px 20px;
}

.about-section > div {
    width: 50%;
}

.about-section > div:first-child {
    padding: 20px 30px;
}

.about-img {
    width: 500px;
    height: 595px;
}

.about-disc {
    margin: 15px 0;
    font-size: 15px;
}

.btn {
    cursor: pointer;

    padding: 5px 15px;
    margin: 0 5px;
    position: relative;

    border: 1px solid #E2007C;
    background-color: #E2007C;
    outline: none;
    border-radius: 18px;


    font-size: 14px;
    font-weight: 400;

    transition: 200ms;
}

.btn a {
    color: white; 
}

.btn:hover {
    background-color: transparent;
}

.btn:hover a {
    color: black;
}