@media (max-width: 1075px) {
    .about-section {
        flex-direction: column;
        align-items: center;
    }

    .about-section > div {
        width: 90%;
    }

    .about-section > div:nth-child(2) {
        display: flex;
        justify-content: center;
    }

    .about-img {
        width: 400px;
        height: auto;
    }
}

@media (max-width: 565px) {
    .about-section > div{
        width: 90%;
    }

    .about-img {
        width: 100%;
        height: auto;
    }

    .about-section >  div:first-child {
        padding: 0;
    }
}